FCWBWebConnSvc/qbXML/CustomerAddRq.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QBXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="QBXMLMsgsRq">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CustomerAddRq">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerAdd">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="IsActive" type="xs:string" />
                          <xs:element name="Salutation" type="xs:string" />
                          <xs:element name="FirstName" type="xs:string" />
                          <xs:element name="MiddleName" />
                          <xs:element name="LastName" type="xs:string" />
                          <xs:element name="BillAddress">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Addr1" type="xs:string" />
                                <xs:element name="City" type="xs:string" />
                                <xs:element name="State" type="xs:string" />
                                <xs:element name="PostalCode" type="xs:unsignedShort" />
                                <xs:element name="Country" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Phone" type="xs:string" />
                          <xs:element name="Email" type="xs:string" />
                          <xs:element name="Contact" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="requestID" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="onError" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>